<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">我们有你需要的！</h2>
                <hr class="light">
                <p class="text-faded">Start Bootstrap拥有让您的新网站立即启动和运行所需的一切！Start Bootstrap上的所有模板和主题都是开源的，可以免费下载，并且易于使用。没有附加条件！</p>
                <a href="#" class="btn btn-default btn-xl">开始！</a>
            </div>
        </div>
    </div>
</section>
